@model IEnumerable<EMS_MINI_PROJECT_SCAFFOLDING.Models.Grade_Master_174778>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Export Data</title>
</head>
<body>
    <p>
        @Html.ActionLink("Export Data", "PrintExportData")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min_Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Max_Salary)
            </th>
           
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Min_Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max_Salary)
            </td>
         
        </tr>
    }
    
    </table>
</body>
</html>
